<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Only used to download a document when the user chooses "Open URL". -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <!-- Works with a mouse and keyboard too (Chromebooks). -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.JsonQuery">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|density|fontScale|navigation|layoutDirection|locale|colorMode"
            android:windowSoftInputMode="adjustResize"
            android:resizeableActivity="true">

            <!-- Which library NativeActivity loads: libjsonquery_android.so -->
            <meta-data android:name="android.app.lib_name" android:value="jsonquery_android" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- "Open with jsonquery" from a file manager, browser or mail app. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/json" />
                <data android:mimeType="application/x-ndjson" />
                <data android:mimeType="application/jsonl" />
                <data android:mimeType="application/geo+json" />
                <data android:mimeType="text/json" />
            </intent-filter>

            <!-- The share sheet: a JSON file, or JSON copied as text. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/json" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>
